# Материалы

Дашбор: https://public.tableau.com/views/YandexDzen_16868292617110/sheet4?:language=en-US&publish=yes&:display_count=n&:origin=viz_share_link

Презентация: https://drive.google.com/file/d/1GvK7EGjs0eMFZae_q8u5AzO1w0k1YY51/view?usp=sharing

# Запрос csv файла

In [ ]:
import pandas as pd
from sqlalchemy import create_engine
# !pip install psycopg2

In [2]:
db_config = {'user': 'praktikum_student', # имя пользователя
            'pwd': 'Sdf4$2;d-d30pp', # пароль
            'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
            'port': 6432, # порт подключения
            'db': 'data-analyst-zen-project-db'} # название базы данных

In [3]:
connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                db_config['pwd'],
                                                db_config['host'],
                                                db_config['port'],
                                                db_config['db'])

In [4]:
engine = create_engine(connection_string)

In [5]:
query = '''
            SELECT * FROM dash_visits
        '''

In [6]:
with engine.begin() as conn:
    dash_visits = pd.io.sql.read_sql(query, con=conn, index_col="record_id")

In [7]:
dash_visits.head(5)

          item_topic source_topic age_segment                  dt  visits
record_id
1040597       Деньги         Авто       18-25 2019-09-24 18:32:00       3
1040598       Деньги         Авто       18-25 2019-09-24 18:35:00       1
1040599       Деньги         Авто       18-25 2019-09-24 18:54:00       4
1040600       Деньги         Авто       18-25 2019-09-24 18:55:00      17
1040601       Деньги         Авто       18-25 2019-09-24 18:56:00      27

In [8]:
dash_visits.to_csv('dash_visits.csv', index = False)

In [ ]:
data.to_csv('data_csv', index = False)
from IPython.display import display, FileLink
FileLink('data_csv')